<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/download.css')}}"
/>

{%extends "base.html"%} {%block title%} Download Now !!! {%endblock%} {%block
contents%}
<div class="container">
      <nav>
        <input type="checkbox" id="nav" class="hidden" />
        <label for="nav" class="nav-btn">
          <i></i>
          <i></i>
          <i></i>
        </label>
        <div class="logo">
          <a href="{{url_for('homepage')}}"
            >Cross Platform <br />Voice Assistance</a
          >
        </div>
        <div class="nav-wrapper">
          <ul>
            <li><a href="{{url_for('homepage')}}">Home</a></li>
            <li><a href="{{url_for('features')}}">Download</a></li>
            <li><a href="{{url_for('signup')}}">Sign UP</a></li>
            <li><a href="{{url_for('login')}}">Log In</a></li>
          </ul>
        </div>
      </nav>
    </div>
<section>
  <h1 class="text-shadow h1-dash">-- Downloads --</h1>
  <div class="tags">
    <p class="text-shadow"><small>#AskMeAnyThing #Iamyourfriend</small></p>
  </div>
</section>

<div class="container-cards">
  <div class="card">
    <div class="content">
      <h2>01</h2>
      <h3>For Windows</h3>
      <p>
        Voice Commands to any connected device. You can use it on your mobile,
        desktop, linux, etc.
      </p>
      <a
        class="download"
        href="{{download_desktop}}"
        download="Cross_Platform_Voice_Assistant"
        >Download Zip</a
      >
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2>02</h2>
      <h3>For Linux</h3>
      <p>
        Can't Reach your phone? No problem, just ask me to call someone and I
        will do it for you.
      </p>
      <a
        class="download"
        href="{{download_desktop}}"
        download="{{download_desktop}}"
        >Download Zip</a
      >
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2>03</h2>
      <h3>For Android</h3>
      <p>
        You can open any app on your device by just saying the name of the app.
      </p>
      <a
        class="download"
        href="{{download_apk}}"
        download="Cross_Platform_Voice_Assistant.apk"
        >Download Apk</a
      >
    </div>
  </div>
</div>
<script
  type="text/javascript"
  src="{{url_for('static', filename='scripts/vanilla-tilt.js')}}"
></script>
<script type="text/javascript">
  VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 1,
  });

  //It also supports NodeList
  // VanillaTilt.init(document.querySelectorAll(".your-element"));
</script>
{%endblock%}
